@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
$blue-200: hsl(243, 100%, 93%);
$blue-850: hsl(228, 56%, 26%);
$blue-950: hsl(229, 57%, 11%);
$grayish-blue: hsl(229, 7%, 55%);
$Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
$font-family: "Raleway", sans-serif;

body{
    background-color: $blue-950;
    font-family: $font-family;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98%;
    gap: 1rem;
    .iconContainer {
        display: flex;
        height: 25%;
        max-height: 170px;
        min-width: 20%;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        border-radius: 0.5rem 5rem 1rem 1rem;
        background-color: $blue-850;
        padding: 1rem 2rem ;
        .icons{
            width: 100%;
            display: flex;
            // justify-content: space-around;
            gap: 1rem;
            align-items: center;
            // margin-left: 1rem;
            .icon{
                background-color: $blue-950;
                border-radius: 0.5rem;
                padding: 0.5rem;
                display: grid;
                place-items: center;
            }
        }
    }
    .rightContainer{
        display: flex;
        height: 25%;
        max-height: 170px;
        min-width: 35%;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        .blank{
            height: 10%;
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }
    .bubble {
        height: 400%;
  position: relative;
  margin-right: 1rem;
  background: white;
  padding: 1rem 2rem;
  border-radius: 1rem 1rem 2px 1rem;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  display: inline-block;
  z-index: 10;
}

.bubble::after {
  content: "";
  position: absolute;
  bottom: 0;   /* move under the box */
  left: 87.5%;       /* center it horizontally */
  transform: translateX(-50%);
  border-width: 12px 10px 0 10px; /* triangle size */
  border-style: solid;
  border-color: white transparent transparent transparent;
  scale: 2;
  transform: rotate(90deg);
}

.big {
  font-size: 2rem;
  font-weight: 700;
  color: black;
}

    .dataContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80%;
        width: 100%;
        background-color: $blue-850;
        border-radius: 0.8rem;
        position: relative;
        right: 100;
        padding: 1rem;
        // margin-top: 2rem;
        h3{
            color: $blue-200;
            font-size: 0.8rem;
            font-weight: 600;
            span{
                color: white;
            }
        }
        .level{
            display: flex;
            justify-content: space-between;
            width: 100%;
            span{
                color: $grayish-blue;
                font-size: 0.8rem;
            }
        }
        .bar{
            width: 100%;
            height: 1rem;
            border-radius: 2rem;
            background-color: $blue-950;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .line{
                width: 70%;
                height: 80%;
                background-image: linear-gradient( hsl(6, 100%, 80%), hsl(335, 100%, 65%));
                border-radius: 2rem;
                z-index: 100;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: relative;
                right: -0.1rem;
                .dot{
                    position: relative;
                    right: 0.1rem;
                    height: 0.5rem;
                    width: 0.5rem;
                    background-color: white;
                    border-radius: 50%;
                }
            }
        }
    }
}
@media screen and (max-width: 324px) {
    .container {
    flex-direction: column;
    align-items: stretch;
    margin: 1rem;
  }

  .iconContainer {
    min-width: 100%;
    border-radius: 1rem;
    align-items: center;
  }

  .rightContainer {
    width: 100%;
    max-width: 100%;
  }

  .dataContainer {
    width: 100%;
  }

  .bubble {
    height: 100vh;
    width: 100vw;
    margin: 0 auto 1rem auto;
    font-size: 1rem;
    text-align: center;
    border-radius: 1rem;
    position: fixed;
    bottom: -8rem;
    // left: 50%;
  }
  .bubble::after {
    display: none;
    visibility: none;
    border-radius: 1rem;
  }
}
